.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-container {
  background-color: #ffffff;
  /* border: 1px solid#a7ffe2; */
  border-radius: 50px;
  margin: 20px;
  height: 698px; 
}

.indicators-cards {
  background-color: #ffffff;
  /* border: 4px solid #bcbcbc; */
  border-radius: 50px;
  margin: 20px;
  height: 505px;
  width: 300px;
  position: relative;
  top: 50px;
  padding-left: 40px;
  box-shadow: 0 0 5px 5px rgb(92, 160, 255);
}

.cards-title {
  font-weight: bold;
  font-size: 30px;
  text-align:center;
  padding-top: 5px;
  padding-right: 50px;
}


@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url("/public/robotoflex_regular.ttf");
}

.font-serif {
font-family: 'Pompadur', serif;



}

.font-text-area {
font-family: Font;
}

.title {
  /* text-align: center; */
  padding-top: 20px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 40px;
}