.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-container {
  background-color: #ffffff;
  border-radius: 50px;
  margin: 20px;
  height: 698px; 
}

.indicators-cards {
  background-color: #ffffff;
  border-radius: 50px;
  margin: 20px;
  height: 505px;
  width: 300px;
  position: relative;
  top: 50px;
  /* padding-left: 40px; */
  box-shadow: 0 0 5px 5px rgb(92, 160, 255);
}

.cards-title {
  font-weight: bold;
  font-size: 30px;
  text-align:center;
  padding-top: 5px;
  text-align: center;
  width: 80%;
  margin: auto;
  height: 13rem;
  
  /* padding-right: 50px; */
}


@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url("/public/robotoflex_regular.ttf");
}

.font-serif {
font-family: 'Pompadur', serif;



}

.font-text-area {
font-family: Font;
}

.title {
  padding-top: 45px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 40px;
}

.temp {
  /* padding-top: 150px;
  padding-left: 100px; */
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.tempOut {
  padding-top: 150px;
  padding-left: 90px;
  font-size: 40px;
  font-weight: bold;
}

.humidity {
  padding-top: 188px;
  padding-left: 90px;
  font-size: 40px;
  font-weight: bold;
}

.barPressure {
  padding-top: 188px;
  padding-left: 90px;
  font-size: 40px;
  font-weight: bold;
}

.connection-status {
  padding-left: 22px;
  padding-top: 10px;
  font-size: 15px;
  font-weight:600;
}

.signal-png {
  width: 20px;
  height: 20px;
}

.low-signal-png {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.tempInUp {
  width: 80px;
  height: 80px;
}

.tempInDown {
  width: 80px;
  height: 80px;
}

.tempOutUp {
  width: 80px;
  height: 80px;
}

.tempOutDown {
  width: 80px;
  height: 80px;
}

.highHum {
  width: 80px;
  height: 80px;
}

.lowHum {
  width: 80px;
  height: 80px;
}

.highPres {
  width: 80px;
  height: 80px;
}

.lowPres {
  width: 80px;
  height: 80px;
}